In [2]:
import sqlite3
import pandas as pd
df = pd.read_csv(r"C:\Users\李宏洋\Desktop\南洋理工大学人工智能项目\课程资源\第一节课\Course Materials_Week 1  2 Intro to NTU AI Lab  Regression  Decision Tree-20220705\DBS_SingDollar.csv")
c=sqlite3.connect(r"C:\Users\李宏洋\Desktop\南洋理工大学人工智能项目\课程资源\第一节课\Course Materials_Week 1  2 Intro to NTU AI Lab  Regression  Decision Tree-20220705\DBS.db")
df=df.iloc[:,2:4]
df.to_sql(name='DBS',con=c)
for row in c.execute("select * from DBS"):
    print(row)

(0, 20.45, 1.38925)
(1, 20.6, 1.38707)
(2, 20.45, 1.38324)
(3, 20.41, 1.38378)
(4, 20.59, 1.37595)
(5, 20.78, 1.38172)
(6, 20.59, 1.38424)
(7, 20.72, 1.38401)
(8, 20.47, 1.3827)
(9, 20.43, 1.3818700000000002)
(10, 20.49, 1.37925)
(11, 20.49, 1.38157)
(12, 20.48, 1.38104)
(13, 20.65, 1.3865299999999998)
(14, 20.47, 1.3832)
(15, 20.6, 1.3853)
(16, 20.84, 1.38665)
(17, 20.8, 1.38071)
(18, 21.04, 1.38634)
(19, 21.0, 1.3845100000000001)
(20, 21.0, 1.38995)
(21, 20.86, 1.38642)
(22, 20.7, 1.38523)
(23, 20.63, 1.39297)
(24, 20.8, 1.38981)
(25, 20.65, 1.3947399999999999)
(26, 20.77, 1.39749)
(27, 20.68, 1.40394)
(28, 20.93, 1.40746)
(29, 20.5, 1.4112799999999999)
(30, 20.3, 1.40604)
(31, 20.42, 1.40496)
(32, 20.45, 1.40069)
(33, 20.53, 1.39724)
(34, 19.57, 1.3937899999999999)
(35, 19.07, 1.39739)
(36, 18.93, 1.3971)
(37, 19.03, 1.39598)
(38, 18.92, 1.39412)
(39, 18.73, 1.3926100000000001)
(40, 18.5, 1.39655)
(41, 18.64, 1.39772)
(42, 18.52, 1.39821)
(43, 18.65, 1.39584)
(44, 18.63, 1.39794)
(45, 18.82, 1.39799)
(46, 18.97, 1.3965299999999998)
(47, 18.88, 1.40404)
(48, 18.85, 1.4048)
(49, 18.78, 1.4047399999999999)
(50, 18.85, 1.40211)
(51, 18.93, 1.40067)
(52, 18.95, 1.3981700000000001)
(53, 19.12, 1.3971)
(54, 19.12, 1.39639)
(55, 19.02, 1.3976899999999999)
(56, 19.01, 1.3940700000000001)
(57, 18.75, 1.39677)
(58, 18.43, 1.3939700000000002)
(59, 18.52, 1.39885)
(60, 18.38, 1.3997)
(61, 18.4, 1.39854)
(62, 18.73, 1.39934)
(63, 18.74, 1.39688)
(64, 18.86, 1.40201)
(65, 18.84, 1.40121)
(66, 18.85, 1.40224)
(67, 18.91, 1.41592)
(68, 18.83, 1.41477)
(69, 18.66, 1.41173)
(70, 18.67, 1.4213200000000001)
(71, 19.0, 1.41763)
(72, 18.82, 1.41135)
(73, 18.79, 1.41235)
(74, 18.74, 1.4103700000000001)
(75, 18.76, 1.4121299999999999)
(76, 18.55, 1.40907)
(77, 18.46, 1.405)
(78, 18.54, 1.40429)
(79, 18.6, 1.40447)
(80, 18.62, 1.40763)
(81, 18.48, 1.41323)
(82, 18.19, 1.42045)
(83, 18.23, 1.41793)
(84, 18.33, 1.41901)
(85, 18.27, 1.41659)
(86, 17.97, 1.41906)
(87, 18.0, 1.41995)
(88, 18.64, 1.42416)
(89, 18.7, 1.42058)
(90, 18.55, 1.42066)
(91, 18.53, 1.41667)
(92, 18.59, 1.41857)
(93, 18.66, 1.40917)
(94, 18.39, 1.40746)
(95, 18.51, 1.4113799999999999)
(96, 18.61, 1.41244)
(97, 18.7, 1.40954)
(98, 18.89, 1.4317799999999998)
(99, 18.76, 1.4258899999999999)
(100, 18.58, 1.41285)
(101, 18.39, 1.42117)
(102, 18.08, 1.41598)
(103, 18.01, 1.42705)
(104, 18.02, 1.42616)
(105, 17.94, 1.42876)
(106, 18.09, 1.41601)
(107, 18.06, 1.4303)
(108, 18.05, 1.42592)
(109, 17.86, 1.4272799999999999)
(110, 17.78, 1.42678)
(111, 17.73, 1.43654)
(112, 17.59, 1.43529)
(113, 17.42, 1.4393799999999999)
(114, 17.54, 1.4284700000000001)
(115, 17.27, 1.4394200000000001)
(116, 17.07, 1.44992)
(117, 17.09, 1.44655)
(118, 17.13, 1.44814)
(119, 17.22, 1.45018)
(120, 17.19, 1.44954)
(121, 17.14, 1.44766)

In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\李宏洋\Desktop\南洋理工大学人工智能项目\课程资源\第一节课\Course Materials_Week 1  2 Intro to NTU AI Lab  Regression  Decision Tree-20220705\DBS_SingDollar.csv")
X=df.loc[:,["SGD"]]
Y=df.loc[:,["DBS"]]

In [4]:
X

         SGD
0    1.38925
1    1.38707
2    1.38324
3    1.38378
4    1.37595
..       ...
117  1.44655
118  1.44814
119  1.45018
120  1.44954
121  1.44766

[122 rows x 1 columns]

In [5]:
Y

       DBS
0    20.45
1    20.60
2    20.45
3    20.41
4    20.59
..     ...
117  17.09
118  17.13
119  17.22
120  17.19
121  17.14

[122 rows x 1 columns]

In [6]:
from sklearn import linear_model

In [7]:
model = linear_model.LinearRegression()

In [8]:
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
model.coef_

array([[-50.60094302]])

In [10]:
model.intercept_

array([90.22858515])

In [11]:
pred=model.predict(X)

In [12]:
pred

array([[19.93122506],
       [20.04153512],
       [20.23533673],
       [20.20801222],
       [20.6042176 ],
       [20.31225016],
       [20.18473578],
       [20.196374  ],
       [20.26266124],
       [20.30466002],
       [20.43723449],
       [20.3198403 ],
       [20.3466588 ],
       [20.06885962],
       [20.23736076],
       [20.13109878],
       [20.06278751],
       [20.36335711],
       [20.0784738 ],
       [20.17107353],
       [19.8958044 ],
       [20.07442573],
       [20.13464085],
       [19.74298955],
       [19.90288853],
       [19.65342588],
       [19.51427329],
       [19.18789721],
       [19.00978189],
       [18.81648629],
       [19.08163523],
       [19.13628424],
       [19.35235027],
       [19.52692353],
       [19.70149678],
       [19.51933338],
       [19.53400766],
       [19.59068071],
       [19.68479847],
       [19.76120589],
       [19.56183818],
       [19.50263507],
       [19.47784061],
       [19.59776485],
       [19.49150286],
       [19.48897282],
       [19.56285019],
       [19.18283711],
       [19.1443804 ],
       [19.14741645],
       [19.28049693],
       [19.35336229],
       [19.47986465],
       [19.53400766],
       [19.56993433],
       [19.5041531 ],
       [19.68732851],
       [19.55070597],
       [19.69238861],
       [19.44545601],
       [19.40244521],
       [19.4611423 ],
       [19.42066154],
       [19.54513986],
       [19.28555703],
       [19.32603778],
       [19.27391881],
       [18.58169791],
       [18.63988899],
       [18.79371586],
       [18.30845282],
       [18.4951703 ],
       [18.81294422],
       [18.76234328],
       [18.86253314],
       [18.77347548],
       [18.92831437],
       [19.13426021],
       [19.17018688],
       [19.16107871],
       [19.00117973],
       [18.71781445],
       [18.35247564],
       [18.47999001],
       [18.425341  ],
       [18.54779528],
       [18.42281095],
       [18.37777611],
       [18.16474614],
       [18.34589751],
       [18.34184944],
       [18.5437472 ],
       [18.44760541],
       [18.92325427],
       [19.00978189],
       [18.81142619],
       [18.75778919],
       [18.90453193],
       [17.77916695],
       [18.07720651],
       [18.7370428 ],
       [18.31604296],
       [18.57866185],
       [18.01850941],
       [18.06354425],
       [17.9319818 ],
       [18.57714382],
       [17.85405635],
       [18.07568848],
       [18.0068712 ],
       [18.03217167],
       [17.53830646],
       [17.60155764],
       [17.39459979],
       [17.94665607],
       [17.39257575],
       [16.86126585],
       [17.03179102],
       [16.95133553],
       [16.8481096 ],
       [16.88049421],
       [16.97562398]])

In [13]:
from sklearn.metrics import mean_squared_error

In [14]:
rmse=mean_squared_error(Y,pred)**0.5

In [15]:
rmse

0.6283698867042149

In [16]:
from sklearn import tree

In [17]:
model=tree.DecisionTreeRegressor()

In [18]:
model.fit(X,Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [19]:
pred=model.predict(X)

In [20]:
rmse=mean_squared_error(Y,pred)**0.5

In [21]:
rmse

0.16306113708124784

In [22]:
import joblib

In [24]:
joblib.dump(model, "decision_tree")

['decision_tree']

In [25]:
model = linear_model.LinearRegression()

In [32]:
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
joblib.dump(model, "regression")

['regression']

In [36]:
model=joblib.load("regression")

In [37]:
print(model.predict([[1.4]]))

[[19.38726492]]

In [38]:
model=joblib.load("decision_tree")

In [39]:
print(model.predict([[1.4]]))

[18.38]